.main {
  position: absolute;
  top: 98px;
  left: 280px;
  margin: 40px 55px;
  z-index: 0;
  width: calc(100% - 390px);
}

.level {
  margin-bottom: 60px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
    &_title {
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.4;
      margin-bottom: 7px;
    }
    &_devision {
      font-size: 22px;
      line-height: 18px;
    }
    &_button {
      padding: 7px 12px 7px 13px;
      background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
      border-radius: 4px;
      border: 0;
      color: var(--white);
      margin-right: 10px;
    }
    &_control-button {
      padding: 7px 11px;
      background-color: transparent;
      border: 1px solid rgba($color: #ffffff, $alpha: 0.15);
      box-sizing: border-box;
      border-radius: 4px;
      margin-left: 5px;
    }
    &_control-button:hover {
      background-color: var(--violet);
    }
  }
  &__header-data {
    flex-grow: 1;
  }
  &__control {
    flex-grow: 0;
  }
  &__cards {

  }
  &__card {
    --gutter: 11px;
    position: relative;
    border-radius: 6px;
    background-color: var(--light-grey);
    width: calc(100%/4 - var(--gutter));
    &_img img{
      border-radius: 6px 6px 0 0;
      height: 150px;
      object-fit: cover;
      width: 100%;
    }
    &_label {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 12px;
      line-height: 12px;
      padding: 4px 5px 4px 6px;
      background-color: var(--violet);
      border-radius: 3px;
    }
    &_info-wrapper {
      box-sizing: content-box;
      height: 75px;
    }
    &_title {
      margin-top: 15px;
      margin-left: 15px;
      font-size: 16px;
      line-height: 12px;
    }
    &_descr {
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 25px;
      color: rgba($color: #ffffff, $alpha: 0.5);
    }
    &_footer {
      --gutter: 30px;
      border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
      margin: 0;
      justify-content: space-between;
      align-items: center;
    }
    &_button {
      padding: 10px 19px;
      background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
      border-radius: 4px;
    }
  }
}